In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from itertools import cycle, islice

# This line lets us plot on our ipython notebook
%matplotlib inline

In [4]:
#Load raw precint results data 2012
df_12 = pd.read_table("proj_data/ERStat_2012_G(205268).txt", sep=',', header=None, low_memory=False)

#preview first 5 records...
df_12.head()

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,2012,G,1,10,1,0,1,2,USP,REP,...,NaN,NaN,0,5,1,0010,0,19,33,91
1,2012,G,1,20,1,0,1,2,USP,REP,...,NaN,NaN,0,10,1,0020,0,19,33,91
2,2012,G,1,30,1,0,1,2,USP,REP,...,NaN,NaN,0,15,1,0030,0,19,33,193
3,2012,G,1,40,1,0,1,2,USP,REP,...,NaN,NaN,0,20,1,0040,0,19,33,91
4,2012,G,1,50,1,0,1,2,USP,REP,...,NaN,NaN,0,25,1,0050,0,19,33,193

In [5]:
list(df_12)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32]

In [9]:
# export to clean in excel
df_12.to_csv('raw_results12.csv')

In [10]:
# bring clean data back in
df_12clean = pd.read_table("proj_data/raw_results12_clean.csv", sep=',', low_memory=False)

#preview first 5 records...
df_12clean.head()

   year  countycode party    cand  votes  FIPS
0  2012           1   REP  ROMNEY    195     1
1  2012           1   REP  ROMNEY    200     1
2  2012           1   REP  ROMNEY    147     1
3  2012           1   REP  ROMNEY    649     1
4  2012           1   REP  ROMNEY    280     1

In [11]:
df_12clean.shape

(40295, 6)

In [12]:
df_12clean['votes'].dtype

dtype('int64')

In [13]:
df_12clean['FIPS'].dtype

dtype('int64')

In [14]:
#List unique values in the df_16['cand'] column
df_12clean.cand.unique()

array(['ROMNEY', 'OBAMA', 'STEIN', 'JOHNSON', 'WRITE-IN'], dtype=object)

In [15]:
## create new column that is number of voters for obama
# Create a new column called df_12clean.democrat where the value is the votes if df_12clean.cand equals 'OBAMA'
# and 0 if not.
df_12clean['democrat'] = df_12clean['votes'].where(df_12clean['cand']=='OBAMA', 0)
df_12clean

       year  countycode party      cand  votes  FIPS  democrat
0      2012           1   REP    ROMNEY    195     1         0
1      2012           1   REP    ROMNEY    200     1         0
2      2012           1   REP    ROMNEY    147     1         0
3      2012           1   REP    ROMNEY    649     1         0
4      2012           1   REP    ROMNEY    280     1         0
5      2012           1   REP    ROMNEY    391     1         0
6      2012           1   REP    ROMNEY    818     1         0
7      2012           1   REP    ROMNEY    677     1         0
8      2012           1   REP    ROMNEY    524     1         0
9      2012           1   REP    ROMNEY    798     1         0
10     2012           1   REP    ROMNEY   1107     1         0
11     2012           1   REP    ROMNEY    584     1         0
12     2012           1   REP    ROMNEY    471     1         0
13     2012           1   REP    ROMNEY    685     1         0
14     2012           1   REP    ROMNEY    273     1         0
15     2012           1   REP    ROMNEY    443     1         0
16     2012           1   REP    ROMNEY    168     1         0
17     2012           1   REP    ROMNEY    688     1         0
18     2012           1   REP    ROMNEY    640     1         0
19     2012           1   REP    ROMNEY    299     1         0
20     2012           1   REP    ROMNEY    867     1         0
21     2012           1   REP    ROMNEY    323     1         0
22     2012           1   REP    ROMNEY    291     1         0
23     2012           1   REP    ROMNEY    304     1         0
24     2012           1   REP    ROMNEY    828     1         0
25     2012           1   REP    ROMNEY    659     1         0
26     2012           1   REP    ROMNEY    329     1         0
27     2012           1   REP    ROMNEY    728     1         0
28     2012           1   REP    ROMNEY    916     1         0
29     2012           1   REP    ROMNEY    400     1         0
...     ...         ...   ...       ...    ...   ...       ...
40265  2012          67   OTH  WRITE-IN      5   133         0
40266  2012          67   OTH  WRITE-IN      7   133         0
40267  2012          67   OTH  WRITE-IN      1   133         0
40268  2012          67   OTH  WRITE-IN      2   133         0
40269  2012          67   OTH  WRITE-IN      5   133         0
40270  2012          67   OTH  WRITE-IN      2   133         0
40271  2012          67   OTH  WRITE-IN      1   133         0
40272  2012          67   OTH  WRITE-IN      6   133         0
40273  2012          67   OTH  WRITE-IN      7   133         0
40274  2012          67   OTH  WRITE-IN      1   133         0
40275  2012          67   OTH  WRITE-IN      2   133         0
40276  2012          67   OTH  WRITE-IN      3   133         0
40277  2012          67   OTH  WRITE-IN      7   133         0
40278  2012          67   OTH  WRITE-IN      6   133         0
40279  2012          67   OTH  WRITE-IN      5   133         0
40280  2012          67   OTH  WRITE-IN      3   133         0
40281  2012          67   OTH  WRITE-IN      2   133         0
40282  2012          67   OTH  WRITE-IN      6   133         0
40283  2012          67   OTH  WRITE-IN      1   133         0
40284  2012          67   OTH  WRITE-IN      2   133         0
40285  2012          67   OTH  WRITE-IN      2   133         0
40286  2012          67   OTH  WRITE-IN      6   133         0
40287  2012          67   OTH  WRITE-IN      1   133         0
40288  2012          67   OTH  WRITE-IN      3   133         0
40289  2012          67   OTH  WRITE-IN      4   133         0
40290  2012          67   OTH  WRITE-IN      1   133         0
40291  2012          67   OTH  WRITE-IN      1   133         0
40292  2012          67   OTH  WRITE-IN      1   133         0
40293  2012          67   OTH  WRITE-IN      1   133         0
40294  2012          67   OTH  WRITE-IN      2   133         0

[40295 rows x 7 columns]

In [16]:
## create new column that is number of voters for romney
# Create a new column called df_12clean.republican where the value is the votes if df_12clean.cand equals 'ROMNEY' or 
# and 0 if not.
df_12clean['republican'] = df_12clean['votes'].where(df_12clean['cand']=='ROMNEY', 0)
df_12clean

       year  countycode party      cand  votes  FIPS  democrat  republican
0      2012           1   REP    ROMNEY    195     1         0         195
1      2012           1   REP    ROMNEY    200     1         0         200
2      2012           1   REP    ROMNEY    147     1         0         147
3      2012           1   REP    ROMNEY    649     1         0         649
4      2012           1   REP    ROMNEY    280     1         0         280
5      2012           1   REP    ROMNEY    391     1         0         391
6      2012           1   REP    ROMNEY    818     1         0         818
7      2012           1   REP    ROMNEY    677     1         0         677
8      2012           1   REP    ROMNEY    524     1         0         524
9      2012           1   REP    ROMNEY    798     1         0         798
10     2012           1   REP    ROMNEY   1107     1         0        1107
11     2012           1   REP    ROMNEY    584     1         0         584
12     2012           1   REP    ROMNEY    471     1         0         471
13     2012           1   REP    ROMNEY    685     1         0         685
14     2012           1   REP    ROMNEY    273     1         0         273
15     2012           1   REP    ROMNEY    443     1         0         443
16     2012           1   REP    ROMNEY    168     1         0         168
17     2012           1   REP    ROMNEY    688     1         0         688
18     2012           1   REP    ROMNEY    640     1         0         640
19     2012           1   REP    ROMNEY    299     1         0         299
20     2012           1   REP    ROMNEY    867     1         0         867
21     2012           1   REP    ROMNEY    323     1         0         323
22     2012           1   REP    ROMNEY    291     1         0         291
23     2012           1   REP    ROMNEY    304     1         0         304
24     2012           1   REP    ROMNEY    828     1         0         828
25     2012           1   REP    ROMNEY    659     1         0         659
26     2012           1   REP    ROMNEY    329     1         0         329
27     2012           1   REP    ROMNEY    728     1         0         728
28     2012           1   REP    ROMNEY    916     1         0         916
29     2012           1   REP    ROMNEY    400     1         0         400
...     ...         ...   ...       ...    ...   ...       ...         ...
40265  2012          67   OTH  WRITE-IN      5   133         0           0
40266  2012          67   OTH  WRITE-IN      7   133         0           0
40267  2012          67   OTH  WRITE-IN      1   133         0           0
40268  2012          67   OTH  WRITE-IN      2   133         0           0
40269  2012          67   OTH  WRITE-IN      5   133         0           0
40270  2012          67   OTH  WRITE-IN      2   133         0           0
40271  2012          67   OTH  WRITE-IN      1   133         0           0
40272  2012          67   OTH  WRITE-IN      6   133         0           0
40273  2012          67   OTH  WRITE-IN      7   133         0           0
40274  2012          67   OTH  WRITE-IN      1   133         0           0
40275  2012          67   OTH  WRITE-IN      2   133         0           0
40276  2012          67   OTH  WRITE-IN      3   133         0           0
40277  2012          67   OTH  WRITE-IN      7   133         0           0
40278  2012          67   OTH  WRITE-IN      6   133         0           0
40279  2012          67   OTH  WRITE-IN      5   133         0           0
40280  2012          67   OTH  WRITE-IN      3   133         0           0
40281  2012          67   OTH  WRITE-IN      2   133         0           0
40282  2012          67   OTH  WRITE-IN      6   133         0           0
40283  2012          67   OTH  WRITE-IN      1   133         0           0
40284  2012          67   OTH  WRITE-IN      2   133         0           0
40285  2012          67   OTH  WRITE-IN      2   133         0           0
40286  2012          67   OTH  WRITE-IN      6   133         0           0
40287  2012          67   OTH  WRITE-IN      1   133         0           0
40288  2012          67   OTH  WRITE-IN      3   133         0           0
40289  2012          67   OTH  WRITE-IN      4   133         0           0
40290  2012          67   OTH  WRITE-IN      1   133         0           0
40291  2012          67   OTH  WRITE-IN      1   133         0           0
40292  2012          67   OTH  WRITE-IN      1   133         0           0
40293  2012          67   OTH  WRITE-IN      1   133         0           0
40294  2012          67   OTH  WRITE-IN      2   133         0           0

[40295 rows x 8 columns]

In [17]:
## create new column that is number of voters for any other candidate
# Create a new column called df_12clean.other where the value is the votes if df_12clean.cand equals 
#'STEIN', 'JOHNSON', 'WRITE-IN' and 0 if not.
df_12clean['other'] = df_12clean['votes'].where((df_12clean['cand']=='STEIN') | (df_12clean['cand']=='JOHNSON') | (df_12clean['cand']=='WRITE-IN'),0)
df_12clean

,year,countycode,party,cand,votes,FIPS,democrat,republican,other
0,2012,1,REP,ROMNEY,195,1,0,195,0
1,2012,1,REP,ROMNEY,200,1,0,200,0
2,2012,1,REP,ROMNEY,147,1,0,147,0
3,2012,1,REP,ROMNEY,649,1,0,649,0
4,2012,1,REP,ROMNEY,280,1,0,280,0
5,2012,1,REP,ROMNEY,391,1,0,391,0
6,2012,1,REP,ROMNEY,818,1,0,818,0
7,2012,1,REP,ROMNEY,677,1,0,677,0
8,2012,1,REP,ROMNEY,524,1,0,524,0
9,2012,1,REP,ROMNEY,798,1,0,798,0
10,2012,1,REP,ROMNEY,1107,1,0,1107,0
11,2012,1,REP,ROMNEY,584,1,0,584,0
12,2012,1,REP,ROMNEY,471,1,0,471,0
13,2012,1,REP,ROMNEY,685,1,0,685,0
14,2012,1,REP,ROMNEY,273,1,0,273,0
15,2012,1,REP,ROMNEY,443,1,0,443,0
16,2012,1,REP,ROMNEY,168,1,0,168,0
17,2012,1,REP,ROMNEY,688,1,0,688,0
18,2012,1,REP,ROMNEY,640,1,0,640,0
19,2012,1,REP,ROMNEY,299,1,0,299,0
20,2012,1,REP,ROMNEY,867,1,0,867,0
21,2012,1,REP,ROMNEY,323,1,0,323,0
22,2012,1,REP,ROMNEY,291,1,0,291,0
23,2012,1,REP,ROMNEY,304,1,0,304,0
24,2012,1,REP,ROMNEY,828,1,0,828,0
25,2012,1,REP,ROMNEY,659,1,0,659,0
26,2012,1,REP,ROMNEY,329,1,0,329,0
27,2012,1,REP,ROMNEY,728,1,0,728,0
28,2012,1,REP,ROMNEY,916,1,0,916,0
29,2012,1,REP,ROMNEY,400,1,0,400,0
...,...,...,...,...,...,...,...,...,...
40265,2012,67,OTH,WRITE-IN,5,133,0,0,5
40266,2012,67,OTH,WRITE-IN,7,133,0,0,7
40267,2012,67,OTH,WRITE-IN,1,133,0,0,1
40268,2012,67,OTH,WRITE-IN,2,133,0,0,2
40269,2012,67,OTH,WRITE-IN,5,133,0,0,5
40270,2012,67,OTH,WRITE-IN,2,133,0,0,2
40271,2012,67,OTH,WRITE-IN,1,133,0,0,1
40272,2012,67,OTH,WRITE-IN,6,133,0,0,6
40273,2012,67,OTH,WRITE-IN,7,133,0,0,7
40274,2012,67,OTH,WRITE-IN,1,133,0,0,1
40275,2012,67,OTH,WRITE-IN,2,133,0,0,2
40276,2012,67,OTH,WRITE-IN,3,133,0,0,3
40277,2012,67,OTH,WRITE-IN,7,133,0,0,7
40278,2012,67,OTH,WRITE-IN,6,133,0,0,6
40279,2012,67,OTH,WRITE-IN,5,133,0,0,5
40280,2012,67,OTH,WRITE-IN,3,133,0,0,3
40281,2012,67,OTH,WRITE-IN,2,133,0,0,2
40282,2012,67,OTH,WRITE-IN,6,133,0,0,6
40283,2012,67,OTH,WRITE-IN,1,133,0,0,1
40284,2012,67,OTH,WRITE-IN,2,133,0,0,2
40285,2012,67,OTH,WRITE-IN,2,133,0,0,2
40286,2012,67,OTH,WRITE-IN,6,133,0,0,6
40287,2012,67,OTH,WRITE-IN,1,133,0,0,1
40288,2012,67,OTH,WRITE-IN,3,133,0,0,3
40289,2012,67,OTH,WRITE-IN,4,133,0,0,4
40290,2012,67,OTH,WRITE-IN,1,133,0,0,1
40291,2012,67,OTH,WRITE-IN,1,133,0,0,1
40292,2012,67,OTH,WRITE-IN,1,133,0,0,1
40293,2012,67,OTH,WRITE-IN,1,133,0,0,1
40294,2012,67,OTH,WRITE-IN,2,133,0,0,2

In [18]:
#group by FIPS
grp = df_12clean.groupby(['countycode',"FIPS"])

#calculate totals by FIPS of democrat, republican, and other
df_12partyvotes = grp[['democrat','republican','other']].sum()
df_12partyvotes

                 democrat  republican  other
countycode FIPS
1          1        15091       26767    759
2          3       352464      261778   8012
3          5         9045       19742    539
4          7        37055       42344   1075
5          9         4788       16702    207
6          11       83011       84702   2607
7          13       16276       32983    770
8          15        8624       14410    392
9          17      160521      156579   3916
10         19       28550       59761   1134
11         21       19971       29593    973
12         23         724        1359     42
13         25       11580       13504    497
14         27       34176       34001   1449
15         29      124311      124840   2822
16         31        5056       10828    302
17         33       11121       20347    654
18         35        5734        7303    228
19         37       10937       14236    450
20         39       13883       20901    730
21         41       44367       64809   1638
22         43       64965       57450   1593
23         45      171791      110853   2919
24         47        5463        7579    196
25         49       68036       49025   1854
26         51       21971       26018    640
27         53         896        1383     33
28         55       18995       43260    823
29         57        1310        4814     98
30         59        5852        8428    184
...                   ...         ...    ...
38         75       19900       35872    808
39         77       77986       66369   1845
40         79       64307       58325   1807
41         81       15203       30658    808
42         83        5297        9545    266
43         85       24232       25925    882
44         87        4273       11939    159
45         89       35221       26867    829
46         91      233651      173807   4736
47         93        3053        4652    126
48         95       67612       61546   1686
49         97       12809       19335    773
50         99        5685       13120    323
51         101     588506       96472   5054
52         103      10210       12786    283
53         105       1897        5231    114
54         107      24546       32278    903
55         109       4687       10073    284
56         111       9436       23984    658
57         113       1034        1868     62
58         115       6935       10800    381
59         117       5357       11342    305
60         119       6109        9896    263
61         121       7945       13815    497
62         123       6995       10010    406
63         125      40345       53230   1175
64         127       8396       12896    315
65         129      63722      103932   1918
66         131       5009        6537    224
67         133      73191      113304   3507

[67 rows x 3 columns]

In [19]:
list(df_12partyvotes)

['democrat', 'republican', 'other']

In [20]:
# create new column with WGTP30/WGTP to get % renter hhds in poverty
df_12partyvotes['victory_margin'] = ((df_12partyvotes['republican'] - df_12partyvotes['democrat']))/((df_12partyvotes['republican'] + df_12partyvotes['democrat']))
df_12partyvotes.head()

                 democrat  republican  other  victory_margin
countycode FIPS
1          1        15091       26767    759        0.278943
2          3       352464      261778   8012       -0.147639
3          5         9045       19742    539        0.371591
4          7        37055       42344   1075        0.066613
5          9         4788       16702    207        0.554397

In [21]:
# export election results with VICTORY MARGINS by county in PA, 2012
df_12partyvotes.to_csv('electionresults12_PAcounties.csv')