In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from itertools import cycle, islice
import weightedcalcs as wc

# This line lets us plot on our ipython notebook
%matplotlib inline

In [2]:
#Load data
df_15 = pd.read_table("proj_data/ss15hpa_1yr.csv", sep=',', low_memory=False)

#preview first 5 records...
df_15.head()

,RT,SERIALNO,DIVISION,PUMA,REGION,ST,ADJHSG,ADJINC,WGTP,NP,...,wgtp71,wgtp72,wgtp73,wgtp74,wgtp75,wgtp76,wgtp77,wgtp78,wgtp79,wgtp80
0,H,26,2,2600,1,42,1000000,1001264,37,1,...,31,37,33,38,12,11,34,36,33,35
1,H,31,2,3403,1,42,1000000,1001264,206,3,...,205,209,56,216,68,224,235,196,369,319
2,H,35,2,3603,1,42,1000000,1001264,30,2,...,54,51,8,38,31,10,31,9,33,10
3,H,44,2,200,1,42,1000000,1001264,47,2,...,53,46,54,74,54,16,39,16,10,43
4,H,52,2,1200,1,42,1000000,1001264,111,3,...,145,219,24,137,106,164,36,99,119,167

In [3]:
df_15.shape

(63762, 235)

In [4]:
print("total columns:", len(df_15.columns))

total columns: 235

In [5]:
df_15['PUMA'].dtype

dtype('int64')

In [ ]:
### NOTE PULL IN SMOC (selected monthly owner costs) -- Note: Use ADJHSG to adjust SMOCP to constant dollars.
### Pull in NP (Number of person records following this housing record) -- I believe this is right one for determining the poverty guideline...
### Pull in TYPE (type of unit) OR BLD (units in strcuture?)

In [6]:
#too many columns! let's do something about it... 
#get relevant columns: SERIALNO, ST, PUMA, ADJHSG, ADJINC, WGTP, BDSP (# bedrooms), RNTP (rent), TEN (tenure), VACS (vacancy status),
#...HINCP (hh income), GRNTP (gross rent), GRPIP (gross rent as % of hh inc), KIT (complete kitchen), OCPIP (selected monthly owner costs as % hh inc)
#...PLM (complete plumbing) 
df_15_s= df_15[['SERIALNO','ST', 'PUMA', 'ADJHSG', 'WGTP', 'BDSP', 'RNTP', 'TEN', 'VACS','HINCP','GRNTP', 'GRPIP','OCPIP', 'KIT', 'PLM']]

df_15_s.head()

,SERIALNO,ST,PUMA,ADJHSG,WGTP,BDSP,RNTP,TEN,VACS,HINCP,GRNTP,GRPIP,OCPIP,KIT,PLM
0,26,42,2600,1000000,37,2.0,500.0,3.0,NaN,45000.0,603.0,16.0,NaN,1.0,1.0
1,31,42,3403,1000000,206,2.0,800.0,3.0,NaN,43300.0,1147.0,32.0,NaN,1.0,1.0
2,35,42,3603,1000000,30,4.0,NaN,1.0,NaN,125000.0,NaN,NaN,20.0,1.0,1.0
3,44,42,200,1000000,47,3.0,NaN,2.0,NaN,96200.0,NaN,NaN,7.0,1.0,1.0
4,52,42,1200,1000000,111,2.0,1100.0,3.0,NaN,20200.0,1190.0,71.0,NaN,1.0,1.0

In [8]:
# r is for renters...
df_15_r = df_15_s[df_15_s['GRPIP'].notnull()] 
print("PA rental households in data:", len(df_15_r.index))

PA rental households in data: 11170

In [9]:
# renters with complete kitchen and plumbing
df_15_rk = df_15_r[df_15_r['KIT']==1]
df_15_rkp = df_15_rk[df_15_rk['PLM']==1]

print("PA rental households with complete kitchen, plumbing:", len(df_15_rkp.index))

PA rental households with complete kitchen, plumbing: 10954

In [10]:
#add weights to calculator
calc = wc.Calculator("WGTP")

#group by PUMA
grp = df_15_rkp.groupby(["PUMA"])

In [42]:
#calculate bottom 25th quartile of HH income for ea. PUMA
s_inc25 = calc.quantile(grp,"HINCP", 0.25)

#convert panda series to df
dfinc25= s_inc25.to_frame()

#rename column so we know it refers to income threshold for bottom 25%
dfinc25.columns = ["INC25P"]

#merge with our df containing rental households with complete kitchen and plumbing...
df_15_inc = df_15_rkp.merge(dfinc25, left_on='PUMA', right_index=True)

#check that it worked!
df_15_inc.head()

,SERIALNO,ST,PUMA,ADJHSG,WGTP,BDSP,RNTP,TEN,VACS,HINCP,GRNTP,GRPIP,OCPIP,KIT,PLM,INC25P
0,26,42,2600,1000000,37,2.0,500.0,3.0,NaN,45000.0,603.0,16.0,NaN,1.0,1.0,14800.0
421,10197,42,2600,1000000,166,2.0,500.0,3.0,NaN,15600.0,500.0,38.0,NaN,1.0,1.0,14800.0
795,19014,42,2600,1000000,80,3.0,500.0,3.0,NaN,51000.0,822.0,19.0,NaN,1.0,1.0,14800.0
972,23644,42,2600,1000000,59,3.0,800.0,3.0,NaN,77000.0,1030.0,16.0,NaN,1.0,1.0,14800.0
1573,37732,42,2600,1000000,192,3.0,580.0,3.0,NaN,2400.0,832.0,101.0,NaN,1.0,1.0,14800.0

In [44]:
#filter out rows where household income is below bottom 25th quartile threshold
df_15_bottom25= df_15_inc[(df_15_inc['HINCP']<= df_15_inc['INC25P'])]

df_15_bottom25

,SERIALNO,ST,PUMA,ADJHSG,WGTP,BDSP,RNTP,TEN,VACS,HINCP,GRNTP,GRPIP,OCPIP,KIT,PLM,INC25P
1573,37732,42,2600,1000000,192,3.0,580.0,3.0,NaN,2400.0,832.0,101.0,NaN,1.0,1.0,14800.0
6775,161303,42,2600,1000000,50,2.0,380.0,3.0,NaN,9100.0,400.0,53.0,NaN,1.0,1.0,14800.0
7540,180251,42,2600,1000000,78,3.0,700.0,3.0,NaN,12670.0,1243.0,101.0,NaN,1.0,1.0,14800.0
11325,270883,42,2600,1000000,57,2.0,380.0,3.0,NaN,12000.0,1020.0,101.0,NaN,1.0,1.0,14800.0
15488,367919,42,2600,1000000,108,3.0,1400.0,3.0,NaN,12440.0,1770.0,101.0,NaN,1.0,1.0,14800.0
16046,381095,42,2600,1000000,64,2.0,130.0,3.0,NaN,4600.0,160.0,42.0,NaN,1.0,1.0,14800.0
17589,417068,42,2600,1000000,20,1.0,450.0,3.0,NaN,14800.0,500.0,41.0,NaN,1.0,1.0,14800.0
19872,470886,42,2600,1000000,276,3.0,500.0,3.0,NaN,3400.0,783.0,101.0,NaN,1.0,1.0,14800.0
21902,518556,42,2600,1000000,88,3.0,400.0,3.0,NaN,12000.0,836.0,84.0,NaN,1.0,1.0,14800.0
22011,521089,42,2600,1000000,18,4.0,470.0,3.0,NaN,8000.0,680.0,101.0,NaN,1.0,1.0,14800.0
22028,521511,42,2600,1000000,52,1.0,400.0,3.0,NaN,1100.0,410.0,101.0,NaN,1.0,1.0,14800.0
24132,571402,42,2600,1000000,40,1.0,400.0,3.0,NaN,8800.0,520.0,71.0,NaN,1.0,1.0,14800.0
24427,578324,42,2600,1000000,110,0.0,2800.0,3.0,NaN,12004.0,2800.0,101.0,NaN,1.0,1.0,14800.0
24515,580218,42,2600,1000000,162,1.0,240.0,3.0,NaN,10700.0,240.0,27.0,NaN,1.0,1.0,14800.0
29074,688323,42,2600,1000000,184,1.0,470.0,3.0,NaN,8900.0,470.0,63.0,NaN,1.0,1.0,14800.0
35248,835409,42,2600,1000000,115,0.0,400.0,3.0,NaN,1500.0,400.0,101.0,NaN,1.0,1.0,14800.0
36205,857125,42,2600,1000000,61,3.0,200.0,3.0,NaN,8800.0,515.0,70.0,NaN,1.0,1.0,14800.0
37972,898211,42,2600,1000000,59,1.0,230.0,3.0,NaN,9750.0,230.0,28.0,NaN,1.0,1.0,14800.0
39892,942729,42,2600,1000000,162,2.0,830.0,3.0,NaN,10900.0,900.0,99.0,NaN,1.0,1.0,14800.0
42954,1015918,42,2600,1000000,195,1.0,470.0,3.0,NaN,12000.0,470.0,47.0,NaN,1.0,1.0,14800.0
44473,1053700,42,2600,1000000,45,3.0,640.0,3.0,NaN,14300.0,922.0,77.0,NaN,1.0,1.0,14800.0
48673,1155474,42,2600,1000000,297,1.0,300.0,3.0,NaN,700.0,340.0,101.0,NaN,1.0,1.0,14800.0
50125,1189943,42,2600,1000000,94,0.0,200.0,3.0,NaN,9200.0,200.0,26.0,NaN,1.0,1.0,14800.0
60905,1446244,42,2600,1000000,332,3.0,450.0,3.0,NaN,4700.0,580.0,101.0,NaN,1.0,1.0,14800.0
902,21802,42,3403,1000000,133,1.0,730.0,3.0,NaN,4410.0,730.0,101.0,NaN,1.0,1.0,28000.0
7213,172188,42,3403,1000000,177,0.0,780.0,3.0,NaN,28000.0,810.0,35.0,NaN,1.0,1.0,28000.0
13485,320602,42,3403,1000000,75,1.0,720.0,3.0,NaN,23900.0,740.0,37.0,NaN,1.0,1.0,28000.0
17944,425405,42,3403,1000000,518,1.0,1100.0,3.0,NaN,25900.0,1163.0,54.0,NaN,1.0,1.0,28000.0
19537,462820,42,3403,1000000,167,4.0,600.0,3.0,NaN,24300.0,730.0,36.0,NaN,1.0,1.0,28000.0
20931,495493,42,3403,1000000,197,3.0,1100.0,3.0,NaN,10000.0,1100.0,101.0,NaN,1.0,1.0,28000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20723,490508,42,3504,1000000,151,2.0,990.0,3.0,NaN,2600.0,1050.0,101.0,NaN,1.0,1.0,21600.0
26410,625322,42,3504,1000000,146,1.0,980.0,3.0,NaN,9100.0,980.0,101.0,NaN,1.0,1.0,21600.0
26457,626179,42,3504,1000000,84,0.0,700.0,3.0,NaN,12000.0,700.0,70.0,NaN,1.0,1.0,21600.0
27078,640562,42,3504,1000000,516,1.0,600.0,3.0,NaN,6000.0,900.0,101.0,NaN,1.0,1.0,21600.0
30915,732980,42,3504,1000000,210,1.0,1900.0,3.0,NaN,21600.0,1900.0,101.0,NaN,1.0,1.0,21600.0
44763,1060857,42,3504,1000000,155,2.0,880.0,3.0,NaN,18900.0,950.0,60.0,NaN,1.0,1.0,21600.0
47066,1115815,42,3504,1000000,101,2.0,620.0,3.0,NaN,18700.0,710.0,46.0,NaN,1.0,1.0,21600.0
49291,1169167,42,3504,1000000,150,2.0,890.0,3.0,NaN,6000.0,1000.0,101.0,NaN,1.0,1.0,21600.0
51931,1232582,42,3504,1000000,105,1.0,360.0,3.0,NaN,1300.0,360.0,101.0,NaN,1.0,1.0,21600.0
57552,1367488,42,3504,1000000,173,1.0,300.0,3.0,NaN,13100.0,360.0,33.0,NaN,1.0,1.0,21600.0
2933,69411,42,2001,1000000,47,1.0,400.0,3.0,NaN,10200.0,523.0,62.0,NaN,1.0,1.0,15700.0
8668,207349,42,2001,1000000,40,1.0,260.0,3.0,NaN,10030.0,260.0,31.0,NaN,1.0,1.0,15700.0
11965,285445,42,2001,1000000,177,1.0,510.0,3.0,NaN,15000.0,600.0,48.0,NaN,1.0,1.0,15700.0
13550,322205,42,2001,1000000,43,1.0,800.0,3.0,NaN,11900.0,800.0,81.0,NaN,1.0,1.0,15700.0
14668,348386,42,2001,1000000,96,3.0,350.0,3.0,NaN,15400.0,370.0,29.0,NaN,1.0,1.0,15700.0
15269,362973,42,2001,1000000,95,0.0,480.0,3.0,NaN,13700.0,570.0,50.0,NaN,1.0,1.0,15700.0
16674,395687,42,2001,1000000,88,3.0,400.0,3.0,NaN,2700.0,644.0,101.0,NaN,1.0,1.0,15700.0
17185,407309,42,2001,1000000,367,1.0,220.0,3.0,NaN,8500.0,220.0,31.0,NaN,1.0,1.0,15700.0
19363,458906,42,2001,1000000,88,1.0,340.0,3.0,NaN,14400.0,370.0,31.0,NaN,1.0,1.0,15700.0
21382,506507,42,2001,1000000,104,4.0,560.0,3.0,NaN,11400.0,730.0,77.0,NaN,1.0,1.0,15700.0
24502,580073,42,2001,1000000,36,0.0,230.0,3.0,NaN,7820.0,230.0,35.0,NaN,1.0,1.0,15700.0
31294,742189,42,2001,1000000,251,2.0,400.0,3.0,NaN,2000.0,400.0,101.0,NaN,1.0,1.0,15700.0
35064,831120,42,2001,1000000,89,1.0,480.0,3.0,NaN,10400.0,530.0,61.0,NaN,1.0,1.0,15700.0
39216,927871,42,2001,1000000,48,2.0,290.0,3.0,NaN,13200.0,290.0,26.0,NaN,1.0,1.0,15700.0
41740,986910,42,2001,1000000,116,1.0,520.0,3.0,NaN,8900.0,673.0,91.0,NaN,1.0,1.0,15700.0
43555,1030564,42,2001,1000000,62,2.0,500.0,3.0,NaN,5000.0,560.0,101.0,NaN,1.0,1.0,15700.0
45735,1084165,42,2001,1000000,47,1.0,230.0,3.0,NaN,6800.0,230.0,41.0,NaN,1.0,1.0,15700.0
47806,1133875,42,2001,1000000,226,2.0,120.0,3.0,NaN,9000.0,190.0,25.0,NaN,1.0,1.0,15700.0
51530,1223505,42,2001,1000000,50,0.0,280.0,3.0,NaN,9000.0,280.0,37.0,NaN,1.0,1.0,15700.0
59002,1401627,42,2001,1000000,106,1.0,390.0,3.0,NaN,15700.0,420.0,32.0,NaN,1.0,1.0,15700.0